<!-- THIS IS A CARD -->
<!-- #CONTAINER = TEMPLATE REFERENCE VARIABLE -->
<div #container class="note-card-container">

    <!-- WRITED CONTENT OF CARD -->
    <div class="note-card-content">
        <h1 class="note-card-title"> {{ title }} </h1>

        <div #cardBody class="note-card-body">
            
            <p> {{ body }} </p>

            <!-- FADE OUT DESIGN WHEN TEXT PASS MAX HEIGHT OF BODY -->
            <div #truncator class="fade-out-truncation"></div>
        </div>

    </div>
    <!-- ----------------------- -->

    <!-- X-BUTTON THAT DELETE NOTE -->
    <div class="x-button" (click)="delete()">

    </div>

</div>