.main-container{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: auto;
    padding-top: 50px;
}

.note-list{
    margin-top: 23px; //move away list from input filter
}